@model HelpDeskApp.Models.PriorityViewModel.PriorityCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="ItemTranTable">
            <tr><th>Id</th><td>@Model.Id</td></tr>
            <tr><th>Imie</th><td>@Model.Name</td></tr>
            <tr><th>Opis</th><td>@Model.Description</td></tr>
            <tr><th>Data utworzenia</th><td>@Model.CreatedDate</td></tr>
            <tr><th>Data modyfikacji</th><td>@Model.ModifiedDate</td></tr>
            <tr><th>Utworzone przez</th><td>@Model.CreatedBy</td></tr>
            <tr><th>Zmodyfikowany przez</th><td>@Model.ModifiedBy</td></tr>
            <tr><th>Anulowane</th><td>@Model.Cancelled</td></tr>
        </table>
    </div>
</div>
